<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
     package="com.android.server.telecom"
     coreApp="true"
     android:sharedUserId="android.uid.system">

    <protected-broadcast android:name="android.intent.action.SHOW_MISSED_CALLS_NOTIFICATION"/>
    <protected-broadcast android:name="com.android.server.telecom.MESSAGE_SENT"/>
    <protected-broadcast android:name="android.telecom.action.CALL_BACK"/>
    <protected-broadcast android:name="android.telecom.action.VOIP_CALL_LOG_PREFERENCE"/>

    <uses-permission android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS"/>

    <!-- Prevents the activity manager from delaying any activity-start
         requests by this package, including requests immediately after
         the user presses "home". -->
    <uses-permission android:name="android.permission.BIND_INCALL_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.HANDLE_CALL_INTENT"/>
    <uses-permission android:name="android.permission.HANDLE_CAR_MODE_CHANGES"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_ROLE_HOLDERS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- Required to determine source of ongoing audio recordings. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <!-- Required to query the audio framework to determine if a notification sound should play. -->
    <uses-permission android:name="android.permission.QUERY_AUDIO_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <!-- Required to check for direct to voicemail, to load custom ringtones for incoming calls
        which are specified on a per contact basis, and also to determine user preferred
        PhoneAccountHandles for outgoing calls. -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PROJECTION_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_BLOCKED_NUMBERS"/>
    <uses-permission android:name="android.permission.WRITE_BLOCKED_NUMBERS"/>
    <uses-permission android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_COLORIZED_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.ACCESS_LAST_KNOWN_CELL_ID"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <!-- Used for checking appops permissions with PermissionManager. -->
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.CHANGE_DEVICE_IDLE_TEMP_WHITELIST" />
    <uses-permission android:name="android.permission.BIND_LOCAL_VOICEMAIL_SERVICE"/>
    <uses-permission android:name="android.permission.QUERY_AUDIO_VOLUME" />

    <uses-permission android:name="com.android.telephonycore.permission.TELECOM_UI_ACCESS" />

    <!-- protectionLevel system has been deprecated, beware when modifying this permission. -->
    <permission android:name="android.permission.PROCESS_PHONE_ACCOUNT_REGISTRATION"
         android:label="Process phone account registration"
         android:protectionLevel="signature|system"/>

    <!-- This should only be used internally by telecom so signature level permission should
         suffice. -->
    <permission android:name="android.permission.HANDLE_CALL_INTENT"
         android:label="Protects handling the call intent via the TelecomManager API."
         android:protectionLevel="signature"/>

    <application android:label="@string/telecommAppLabel"
         android:icon="@mipmap/ic_launcher"
         android:supportsRtl="true"
         android:process="system"
         android:usesCleartextTraffic="false"
         android:defaultToDeviceProtectedStorage="true"
         android:directBootAware="true">

        <!-- API key is no longer required by the backup service but some older devices may
             still check for one so provide a stubbed value. -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="unused" />

        <!-- Activity that starts the outgoing call process by listening to CALL intent which
                         contain contact information in the intent's data. CallActivity handles any data
                         URL with the schemes "tel", "sip", and "voicemail". It also handles URLs linked to
                         contacts provider entries. Any data not fitting the schema described is ignored. -->
        <activity android:name=".components.UserCallActivity"
            android:label="@string/userCallActivityLabel"
            android:theme="@style/Theme.Telecomm.UserCallActivityNoSplash"
            android:permission="android.permission.CALL_PHONE"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density|fontScale|keyboard|layoutDirection|locale|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true">
          <!-- CALL action intent filters for the various ways of initiating an outgoing call. -->
          <intent-filter>
            <action android:name="android.intent.action.CALL"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="tel"/>
          </intent-filter>
          <!-- Specify an icon for SIP calls so that quick contacts widget shows a special SIP
                               icon for calls to SIP addresses. -->
          <intent-filter android:icon="@drawable/ic_launcher_sip_call">
            <action android:name="android.intent.action.CALL"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="sip"/>
          </intent-filter>
          <intent-filter>
            <action android:name="android.intent.action.CALL"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="voicemail"/>
          </intent-filter>
          <!-- Omit default category below so that all Intents sent to this filter must be
                               explicit. -->
          <intent-filter>
            <action android:name="android.intent.action.CALL"/>
            <data android:mimeType="vnd.android.cursor.item/phone"/>
            <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
            <data android:mimeType="vnd.android.cursor.item/person"/>
          </intent-filter>
        </activity>

        <!-- Works like CallActivity with CALL_PRIVILEGED instead of CALL intent.
             CALL_PRIVILEGED allows calls to emergency numbers unlike CALL which disallows it.
             Intent-sender must have the CALL_PRIVILEGED permission or the broadcast will not be
             processed. High priority of 1000 is used in all intent filters to prevent anything but
             the system from processing this intent (b/8871505). -->
        <activity-alias android:name="PrivilegedCallActivity"
            android:targetActivity=".components.UserCallActivity"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:exported="true">
          <intent-filter android:priority="1000">
            <action android:name="android.intent.action.CALL_PRIVILEGED"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="tel"/>
          </intent-filter>
          <intent-filter android:priority="1000"
              android:icon="@drawable/ic_launcher_sip_call">
            <action android:name="android.intent.action.CALL_PRIVILEGED"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="sip"/>
          </intent-filter>
          <intent-filter android:priority="1000">
            <action android:name="android.intent.action.CALL_PRIVILEGED"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="voicemail"/>
          </intent-filter>
          <intent-filter android:priority="1000">
            <action android:name="android.intent.action.CALL_PRIVILEGED"/>
            <data android:mimeType="vnd.android.cursor.item/phone"/>
            <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
            <data android:mimeType="vnd.android.cursor.item/person"/>
          </intent-filter>
        </activity-alias>

        <!-- Works like CallActivity with CALL_EMERGENCY instead of CALL intent.
             CALL_EMERGENCY allows calls *only* to emergency numbers. Intent-sender must have the
             CALL_PRIVILEGED permission or the broadcast will not be processed. High priority of
             1000 is used in all intent filters to prevent anything but the system from processing
             this intent (b/8871505). -->
        <!-- TODO: Is there really a notion of an emergency SIP number? If not, can
                         that scheme be removed from this activity? -->
        <activity-alias android:name="EmergencyCallActivity"
            android:targetActivity=".components.UserCallActivity"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:exported="true">
          <intent-filter android:priority="1000">
            <action android:name="android.intent.action.CALL_EMERGENCY"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="tel"/>
          </intent-filter>
          <intent-filter android:priority="1000"
              android:icon="@drawable/ic_launcher_sip_call">
            <action android:name="android.intent.action.CALL_EMERGENCY"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="sip"/>
          </intent-filter>
          <intent-filter android:priority="1000">
            <action android:name="android.intent.action.CALL_EMERGENCY"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="voicemail"/>
          </intent-filter>
          <intent-filter android:priority="1000">
            <action android:name="android.intent.action.CALL_EMERGENCY"/>
            <data android:mimeType="vnd.android.cursor.item/phone"/>
            <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
            <data android:mimeType="vnd.android.cursor.item/person"/>
          </intent-filter>
        </activity-alias>

        <service android:name=".components.TelecomService"
             android:singleUser="true"
             android:process="system"
             android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.TelecomService"/>
            </intent-filter>
        </service>

    </application>
</manifest>
